@use "sass:math";

.page {
    // .page__container
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.clock {
    position: relative;
    height: 50vmin;
    width: 50vmin;
    font-size: 5vmin;
    display: flex;
    // .clock__border

    &__border {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
        z-index: 100;
    }
}

.hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    // .hand__container
    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    // .hand__item
    &__item {
        pointer-events: all;
        height: 100%;
        width: 100%;
        z-index: 1000;
        border-radius: 50% 50% 0px 0px;
        margin: 0px 0px 50% 0px;
        border: 0.5px solid #000;
        background-color: #666;

        // .hand__item_hour
        &_hour {
            height: 25%;
            width: 5%;
            z-index: 1;
        }
        // .hand__item_minute
        &_minute {
            height: 35%;
            width: 3.5%;
            z-index: 2;
        }
        // .hand__item_second
        &_second {
            background-color: #ff0000;
            height: 40%;
            width: 2%;
            z-index: 3;
        }
    }

    // .hand_hour
    &_hour {
        transform: rotate(50deg);
    }
    // .hand_minute
    &_minute {
        transform: rotate(100deg);
    }
    // .hand_second
    &_second {
        transform: rotate(200deg);
    }
}

.fraction {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: 100%;
    pointer-events: none;
    z-index: 0;

    // position of numbers on the clock (from 1 to 12)
    @for $i from 0 through 11 {
        // .fraction_i
        &_#{$i + 1} {
            top: math.cos(($i + 6) * 30 * 1deg + 2deg) * 35%;
            left: math.sin(($i + 6) * 30 * 1deg + 2deg) * 37%;
            transform: translate(47.5%, 45%);
        }
    }
}
